# Eat Safe, Love

## Notebook Set Up

In [26]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
from bson.son import SON
from decimal import Decimal

In [27]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [28]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [29]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [30]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
# Find the establishments with a hygiene score of 20
query ={"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments with a hygiene score of 20: {count}")
# Display the first document in the results using pprint
first_document = establishments.find_one(query)
print("First document with a hygiene score of 20:")
pprint(first_document)

Number of establishments with a hygiene score of 20: 41
First document with a hygiene score of 20:
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64c00e8825835fc1a0fa2303'),
 'geocode': {'latitude': '50.769705', 'longitude': '0.27694'},
 'latitude': Decimal128('51.49014200'),
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'longitude': Decimal128('0.08384000'),
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [8]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(list(establishments.find(query)))
# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(result_df)}")
# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(result_df.head(10))

Number of rows in the DataFrame: 41
First 10 rows of the DataFrame:
                        _id   FHRSID  ChangesByServerID  \
0  64c00e8825835fc1a0fa2303   110681                  0
1  64c00e8825835fc1a0fa2685   612039                  0
2  64c00e8825835fc1a0fa298e   730933                  0
3  64c00e8825835fc1a0fa2b7c   172735                  0
4  64c00e8825835fc1a0fa2b8b   172953                  0
5  64c00e8825835fc1a0fa3529   512854                  0
6  64c00e8825835fc1a0fa374e  1537089                  0
7  64c00e8925835fc1a0fa4c76   155648                  0
8  64c00e8925835fc1a0fa50ba  1012883                  0
9  64c00e8925835fc1a0fa58cc   644109                  0

  LocalAuthorityBusinessID               BusinessName  \
0                     4029        The Chase Rest Home
1                1970/FOOD                 Brenalwood
2                1698/FOOD              Melrose Hotel
3             PI/000023858              Seaford Pizza
4             PI/000024532              Golden Palace
5            12/00816/BUTH           Ashby's Butchers
6          22/00224/RESTUN  South Sea Express Cuisine
7              EH/00006058              Golden Palace
8         17/00110/MIXED/S             The Tulip Tree
9                    41811                      F & S

                        BusinessType  BusinessTypeID           AddressLine1  \
0                    Caring Premises               5   5-6 Southfields Road
1                    Caring Premises               5              Hall Lane
2  Hotel/bed & breakfast/guest house            7842  53 Marine Parade East
3             Takeaway/sandwich shop            7844          4 High Street
4            Restaurant/Cafe/Canteen               1         5 South Street
5                  Retailers - other            4613   777 Southchurch Road
6            Restaurant/Cafe/Canteen               1    33 Alexandra Street
7             Takeaway/sandwich shop            7844          7 London Road
8            Restaurant/Cafe/Canteen               1          3 The Village
9                  Retailers - other            4613

         AddressLine2 AddressLine3  ...  \
0          Eastbourne  East Sussex  ...
1  Walton-on-the-Naze        Essex  ...
2      Clacton On Sea        Essex  ...
3             Seaford  East Sussex  ...
4             Seaford  East Sussex  ...
5     Southend-On-Sea        Essex  ...
6     Southend-on-sea        Essex  ...
7            Rayleigh        Essex  ...
8       Chiddingstone         KENT  ...
9      81 Southernhay     Basildon  ...

                                              scores SchemeType  \
0  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
1  {'Hygiene': 20, 'Structural': 15, 'ConfidenceI...       FHRS
2  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
3  {'Hygiene': 20, 'Structural': 10, 'ConfidenceI...       FHRS
4  {'Hygiene': 20, 'Structural': 10, 'ConfidenceI...       FHRS
5  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
6  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
7  {'Hygiene': 20, 'Structural': 15, 'ConfidenceI...       FHRS
8  {'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...       FHRS
9  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS

                                             geocode  RightToReply  \
0  {'longitude': '0.27694', 'latitude': '50.769705'}
1  {'longitude': '1.278721', 'latitude': '51.8575...
2  {'longitude': '1.15927', 'latitude': '51.789429'}
3  {'longitude': '0.10202', 'latitude': '50.770885'}
4  {'longitude': '0.101446', 'latitude': '50.7707...
5  {'longitude': '0.736349', 'latitude': '51.5414...
6  {'longitude': '0.7121671', 'latitude': '51.535...
7  {'longitude': '0.602364', 'latitude': '51.5915...
8  {'longitude': '0.146449998021126', 'latitude':...
9  {'longitude': '0.462307', 'latitude': '51.57005'}

      Distance NewRatingPending  \
0  4613.888288            False
1  4617.965824            False
2  4619.656144            False
3  4620.421725            False
4  4620.437179            False
5  4625.565258            False
6  4626.200132            False
7  4632.276890            False
8  4633.934041            False
9  4636.552523            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...
5  {'dataSource': None, 'extractDate': '0001-01-0...
6  {'dataSource': None, 'extractDate': '0001-01-0...
7  {'dataSource': None, 'extractDate': '0001-01-0...
8  {'dataSource': None, 'extractDate': '0001-01-0...
9  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links     latitude   longitude
0  [{'rel': 'self', 'href': 'https://api.ratings....  51.49014200  0.08384000
1  [{'rel': 'self', 'href': 'https://api.ratings....  51.49014200  0.08384000
2  [{'rel': 'self', 'href': 'https://api.ratings....  51.49014200  0.08384000
3  [{'rel': 'self', 'href': 'https://api.ratings....  51.49014200  0.08384000
4  [{'rel': 'self', 'href': 'https://api.ratings....  51.49014200  0.08384000
5  [{'rel': 'self', 'href': 'https://api.ratings....  51.49014200  0.08384000
6  [{'rel': 'self', 'href': 'https://api.ratings....  51.49014200  0.08384000
7  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000
8  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000
9  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000

[10 rows x 30 columns]

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [9]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query1 = {'LocalAuthorityName': {'$regex' : 'London'}, 'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
count1 = establishments.count_documents(query1)
print(f"Number of Establishments w/ London as LocalAuthority and RatingValue >= 4 : {count1}")

# Display the first document in the results using pprint
first_document1 = establishments.find_one(query1)
print("First document with London as Local Authority and RatingValue >= 4:")
pprint(first_document1)

Number of Establishments w/ London as LocalAuthority and RatingValue >= 4 : 33
First document with London as Local Authority and RatingValue >= 4:
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64c00e8825835fc1a0fa3d1e'),
 'geocode': {'latitude': '51.369321', 'longitude': '0.508551'},
 'latitude': Decimal128('51.49014200'),
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'longitude': Decimal128('0.08384000'),
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [10]:
# Convert the result to a Pandas DataFrame
results1_df = pd.DataFrame(list(establishments.find(query1)))
# Display the number of rows in the DataFrame
print(f"Number of rows in DataFrame: {len(results1_df)}")
# Display the first 10 rows of the DataFrame
print("First 10 Rows of the DataFrame: ")
print(results1_df.head())

Number of rows in DataFrame: 33
First 10 Rows of the DataFrame:
                        _id   FHRSID  ChangesByServerID  \
0  64c00e8825835fc1a0fa3d1e   621707                  0
1  64c00e8925835fc1a0fa4044  1130836                  0
2  64c00e8925835fc1a0fa4b91   293783                  0
3  64c00e8925835fc1a0fa5991   294474                  0
4  64c00e8925835fc1a0fa5992  1315095                  0

  LocalAuthorityBusinessID                          BusinessName  \
0             PI/000025307                             Charlie's
1             PI/000034075               Mv City Cruises Erasmus
2             PI/000002614             Benfleet Motor Yacht Club
3             PI/000014647              Tilbury Seafarers Centre
4             PI/000036464  Coombs Catering t/a The Lock and Key

              BusinessType  BusinessTypeID  \
0  Other catering premises            7841
1  Other catering premises            7841
2  Other catering premises            7841
3  Restaurant/Cafe/Canteen               1
4  Restaurant/Cafe/Canteen               1

                                 AddressLine1  \
0  Oak Apple Farm Building 103 Sheernes Docks
1                          Cherry Garden Pier
2                                  Ferry Road
3                   Tenants Row Tilbury Docks
4                           Leslie Ford House

                       AddressLine2 AddressLine3  ...  \
0                       Sheppy Kent               ...
1  Cherry Garden Street Rotherhithe     Charlton  ...
2              South Benfleet Essex               ...
3                     Tilbury Essex               ...
4                           Tilbury     Charlton  ...

                                              scores SchemeType  \
0  {'Hygiene': 5, 'Structural': 10, 'ConfidenceIn...       FHRS
1  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...       FHRS
2  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
3  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
4  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...       FHRS

                                             geocode  RightToReply  \
0  {'longitude': '0.508551', 'latitude': '51.3693...
1  {'longitude': '0.249255999922752', 'latitude':...
2  {'longitude': '0.561954', 'latitude': '51.5438...
3  {'longitude': '0.346325', 'latitude': '51.4640...
4  {'longitude': '0.346336990594864', 'latitude':...

      Distance NewRatingPending  \
0  4627.439468            False
1  4627.873179            False
2  4631.968418            False
3  4636.847650            False
4  4636.846754            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links     latitude   longitude
0  [{'rel': 'self', 'href': 'https://api.ratings....  51.49014200  0.08384000
1  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000
2  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000
3  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000
4  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000

[5 rows x 30 columns]

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [46]:
#Convert Lon and Lat from string to float
establishments.update_many({'geocode.longitude': {'$exists': True, '$type': 'string'}}, [{'$set': {'geocode.longitude': { '$toDouble': '$geocode.longitude'}}}])

In [49]:
establishments.update_many({'geocode.latitude': {'$exists': True, '$type': 'string'}}, [{'$set': {'geocode.latitude': { '$toDouble': '$geocode.latitude'}}}])

In [65]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude = 0.08384

query2 = {
    'RatingValue': 5,
    'geocode.latitude': {'$gte': latitude - degree_search, '$lte': latitude + degree_search},
    'geocode.longitude': {'$gte': longitude - degree_search, '$lte': longitude + degree_search}
}

sort2 =  [('scores.Hygiene', 1)]

limit2 = 5

# Use find to get establishments that match the query and sort by hygiene score
result2 = establishments.find(query2).sort(sort2).limit(limit2)

# Print the results
# for results in result2:
#     print(results)

In [66]:
# Convert result to Pandas DataFrame
results2_df = pd.DataFrame(list(result2))
# Display the number of rows in the DataFrame
print(f"Number of rows in DataFrame: {len(results2_df)}")
# Display the first 10 rows of the DataFrame
print("First 10 Rows of the DataFrame: ")
print(results2_df.head(10))

Number of rows in DataFrame: 5
First 10 Rows of the DataFrame:
                        _id   FHRSID  ChangesByServerID  \
0  64c00e8a25835fc1a0fa7b65   694609                  0
1  64c00e8a25835fc1a0fa7b7b   695241                  0
2  64c00e8a25835fc1a0fa7b7d   694478                  0
3  64c00e8a25835fc1a0fa7b34   695223                  0
4  64c00e8a25835fc1a0fa7b44  1380578                  0

  LocalAuthorityBusinessID                         BusinessName  \
0             PI/000116619                            Volunteer
1             PI/000179088              Plumstead Manor Nursery
2             PI/000086506                    Atlantic Fish Bar
3             PI/000178842                              Iceland
4                    14425  Howe and Co Fish and Chips - Van 17

                            BusinessType  BusinessTypeID  \
0                      Pub/bar/nightclub            7843
1                        Caring Premises               5
2                 Takeaway/sandwich shop            7844
3  Retailers - supermarkets/hypermarkets            7840
4                         Mobile caterer            7846

                                        AddressLine1 AddressLine2  \
0                    130 - 132 Plumstead High Street
1               Plumstead Manor School Old Mill Road
2                                   35 Lakedale Road
3                    144 - 146 Plumstead High Street
4  Restaurant And Premises 107A Plumstead High St...

  AddressLine3  ...                                             scores  \
0    Plumstead  ...  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...
1    Plumstead  ...  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...
2    Plumstead  ...  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...
3    Plumstead  ...  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...
4    Plumstead  ...  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...

  SchemeType                                            geocode  RightToReply  \
0       FHRS     {'longitude': 0.09208, 'latitude': 51.4873437}
1       FHRS  {'longitude': 0.0859939977526665, 'latitude': ...
2       FHRS   {'longitude': 0.0912164, 'latitude': 51.4867296}
3       FHRS  {'longitude': 0.0924199968576431, 'latitude': ...
4       FHRS  {'longitude': 0.0925370007753372, 'latitude': ...

      Distance NewRatingPending  \
0  4646.965635            False
1  4646.974010            False
2  4646.974612            False
3  4646.946071            False
4  4646.955931            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links     latitude   longitude
0  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000
1  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000
2  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000
3  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000
4  [{'rel': 'self', 'href': 'http://api.ratings.f...  51.49014200  0.08384000

[5 rows x 30 columns]

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [24]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
    {'$match': {'scores.Hygiene': 0}},
    {'$group': {'_id': '$LocalAuthorityName', 'count': {'$sum': 1}}},
    {'$sort': {'count': -1}}
] 
results3 = establishments.aggregate(pipeline)

# Print the number of documents in the result
# for result in results:
#     print(f"Number of establishments in {result['_id']} with hygiene score of 0: {result['count']}")

# Print the first 10 results
count = 0
for result in results3:
    print(f"Number of establishments in {result['_id']} with hygiene score of 0: {result['count']}")
    count += 1
    if count == 10:
        break

Number of establishments in Thanet with hygiene score of 0: 1130
Number of establishments in Greenwich with hygiene score of 0: 882
Number of establishments in Maidstone with hygiene score of 0: 713
Number of establishments in Newham with hygiene score of 0: 711
Number of establishments in Swale with hygiene score of 0: 686
Number of establishments in Chelmsford with hygiene score of 0: 680
Number of establishments in Medway with hygiene score of 0: 672
Number of establishments in Bexley with hygiene score of 0: 607
Number of establishments in Southend-On-Sea with hygiene score of 0: 586
Number of establishments in Tendring with hygiene score of 0: 542

In [25]:
# Convert the result to a Pandas DataFrame
df3 = pd.DataFrame(results3)
# Display the number of rows in the DataFrame
num_rows3 = len(df3)
print(f'Number of rows in the DataFrame: {num_rows3}')
# Display the first 10 rows of the DataFrame
print(df3.head(10))

Number of rows in the DataFrame: 45
                    _id  count
0            Colchester    498
1       Tunbridge Wells    491
2  Folkestone and Hythe    480
3            Eastbourne    478
4              Hastings    464
5               Bromley    460
6               Ashford    427
7              Havering    397
8              Dartford    383
9             Braintree    382